<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikhilpanju.fabfilter">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/ui_fabfilter_AppTheme">

        >
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/ui_fabfilter_preloaded_fonts" />
    </application>

</manifest>