<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.yard01.integration_example">

    <application>
        <provider
            android:name=".providers.AssetFileProvider"
            android:authorities="integration_example_share_asset_file"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            ></provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.github.yard01.integration_example.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".IntegrationActivity" />
    </application>

</manifest>