<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.yard01.integration_example_bridges">

    <application>
        <activity android:name="com.github.yard01.integration_example.IntegrationActivity"></activity>
    </application>

</manifest>